body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
p{
    text-align: justify;
}
.orange_colour{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.box{
    width: 50%;
    padding: 5px 50px;
}
.box img{
    width: 100%;
    padding-top: 10px;
}    
.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 15px;
}
.backgroung_img{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.backgroung2{
    background-image: url(images/2nd\ banner.png);
    background-repeat: no-repeat;
    background-position: right;
}